<?php

declare(strict_types=1);

return [
    'github_api_token'         => 'PLACE_YOUR_TOKEN_HERE',
    'organizations'            => [
        'slimphp',
    ],
    'ignore_repositories'      => [
        'slimphp/Slim-Documentation',
        'slimphp/Slim-Documentation-2.x',
        'slimphp/Slim-Website',
        'slimphp/Tutorial-First-Application',
    ],
    'ignore_branches'          => [],
    'cache_file_path'          => dirname(__DIR__, 2) . '/data/packages.cache',
];
