<?php

declare(strict_types=1);

return [
    'github_api_token'         => 'PLACE_YOUR_TOKEN_HERE',
    'organizations'            => [
        'chubbyphp',
    ],
    'ignore_repositories'      => [
        'chubbyphp/petstore-react',
        'chubbyphp/petstore-vue',
    ],
    'ignore_branches'          => [],
    'cache_file_path'          => dirname(__DIR__, 2) . '/data/packages.cache',
];
