<?php

declare(strict_types=1);

return [
    'github_api_token'         => 'PLACE_YOUR_TOKEN_HERE',
    'organizations'            => [
        'laminas',
        'mezzio',
    ],
    'ignore_repositories'      => [
        'laminas/.github',
        'laminas/automatic-releases',
        'laminas/documentation',
        'laminas/documentation-theme',
        'laminas/getlaminas.org',
        'laminas/laminas-auradi-config',
        'laminas/laminas-cache-storage-adapter-apc',
        'laminas/laminas-cache-storage-adapter-dba',
        'laminas/laminas-cache-storage-adapter-memcache',
        'laminas/laminas-cache-storage-adapter-mongodb',
        'laminas/laminas-cache-storage-adapter-wincache',
        'laminas/laminas-cache-storage-adapter-xcache',
        'laminas/laminas-cache-storage-adapter-zend-server',
        'laminas/laminas-ci-matrix-action',
        'laminas/laminas-ci-matrix-container',
        'laminas/laminas-config',
        'laminas/laminas-config-aggregator-modulemanager',
        'laminas/laminas-console',
        'laminas/laminas-continuous-integration-action',
        'laminas/laminas-continuous-integration-container',
        'laminas/laminas-crypt',
        'laminas/laminas-dom',
        'laminas/laminas-file',
        'laminas/laminas-json',
        'laminas/laminas-loader',
        'laminas/laminas-mime',
        'laminas/laminas-mvc-console',
        'laminas/laminas-oauth',
        'laminas/laminas-pimple-config',
        'laminas/laminas-servicemanager-di',
        'laminas/laminas-servicemanager-migration',
        'laminas/laminas-twitter',
        'laminas/laminas.dev',
        'laminas/laminas.github.io',
        'laminas/repo-template',
        'laminas/technical-steering-committee',
        'laminas/tutorials',
        'laminas/twitter-automation',
        'laminas/workflow-automatic-releases',
        'laminas/laminas-continuous-integration',
        'mezzio/.github',
        'mezzio/mezzio-aurarouter',
        'mezzio/mezzio.dev',
        'mezzio/mezzio.github.io',
        'mezzio/repo-template',
    ],
    'ignore_branches'          => [
        'gh-pages',
    ],
    'cache_file_path'          => dirname(__DIR__, 2) . '/data/packages.cache',
];
