<?php

declare(strict_types=1);

return [
    'github_api_token'         => 'PLACE_YOUR_TOKEN_HERE',
    'organizations'            => [
        'laminas',
        'laminas-api-tools',
        'mezzio',
    ],
    'ignore_repositories'      => [
        'laminas/.github',
        'laminas/documentation',
        'laminas/documentation-theme',
        'laminas/laminas.github.io',
        'laminas/technical-steering-committee',
        'laminas/tutorials',
        'laminas/twitter-automation',
        'laminas/getlaminas.org',
        'laminas/laminas.dev',
        'laminas-api-tools/.github',
        'mezzio/.github',
        'mezzio/mezzio.dev',
        'mezzio/mezzio.github.io',
    ],
    'ignore_branches'          => [
        'gh-pages',
    ],
    'cache_file_path'          => __DIR__ . '/../../data/packages.cache',
    'requirements'             => [
        'php' => '7.2.0',
    ],
    'development_requirements' => [
        'laminas/laminas-coding-standard' => '2.0.0',
        'phpstan/phpstan'                 => '0.12.0',
        'phpunit/phpunit'                 => '7.1.0',
        'vimeo/psalm'                     => '3.11.0',
    ],
];
