<?php

declare(strict_types=1);

return [
    'github_api_token'         => 'PLACE_YOUR_TOKEN_HERE',
    'organizations'            => [
        'codeigniter4',
    ],
    'ignore_repositories'      => [
        'codeigniter4/api',
        'codeigniter4/userguide',
    ],
    'ignore_branches'          => [],
    'cache_file_path'          => dirname(__DIR__, 2) . '/data/packages.cache',
];
