<?php

declare(strict_types=1);

return [
    'github_api_token'         => 'PLACE_YOUR_TOKEN_HERE',
    'organizations'            => [
        'auraphp',
    ],
    'ignore_repositories'      => [
        'auraphp/bin',
        'auraphp/Aura.Web_Project',
        'auraphp/Aura.Cli_Project',
        'auraphp/Aura.Framework_Project',
        'auraphp/auraphp.github.com',
        'auraphp/installer-default',
        'auraphp/installer-system',
    ],
    'ignore_branches'          => [
        'gh-pages',
    ],
    'cache_file_path'          => dirname(__DIR__, 2) . '/data/packages.cache',
];
